<configuration>
  <appSettings file="">
    <add key="virtualDirPath" value="/Tainan_EPB/test02" />

    <add key="mongodb_url" value="mongodb://127.0.0.1" />
    <add key="mongodb_port" value="27017" />
    <add key="mongodb_dbname" value="Noise" />
    <add key="mongodb_user" value="cai007" />
    <add key="mongodb_pass" value="abc123456" />  

    <add key="ftp_host" value="127.0.0.1" />
    <add key="ftp_port" value="21" />
    <add key="ftp_dirname" value="uploads" />
    <add key="ftp_user" value="cai_test" />
    <add key="ftp_pass" value="123456" />
  </appSettings>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="main">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>    
  </system.webServer>
</configuration>
